@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap'); /*font download from google */

/* ---------------------Fonts and text---------------*/
h1{/*  */
    font-family: 'Merriweather', serif;
    font-size: 30px;
}
h2{/*  */
    font-family: 'Merriweather', serif;
    font-size: 25px;
}
body{ /*  */
    font-family: 'Open Sans', sans-serif;
}
p{/*  */
    font-size: 18px;
    line-height: 160%;
}
a {
    margin-right: 15px;
    margin-left:  15px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-align: center;
}
a:hover{
    text-decoration: underline;
}

/* Desktop */
@media screen and (min-width: 1025px) {

    body{
        background-color: white;
    }
    header.header-container{
        width: 1100px;
        margin: 0 auto;
    }
    section.grid-container{
        width: 1100px;
        margin: 0 auto;
    }
    nav.nav_list{
        background-color: white;
        flex-direction: row;
    }
    article.productWallClass{
        text-align: center;
        width: 1100px;
        margin: 0 auto;
    }
    main{
        grid-template-columns: 1fr 1fr;
    }
    div.productWall{
        width: 1100px;
        margin: 0 auto;
    }
    .productWall{
        width: 1100px;
        height: auto;
    }
    hr{
        width: 1100px;
    }
    div.main2{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto auto auto;
    }
    div.main3{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto auto auto;
    }
    article.video{
        height: auto;
        width: 100%;
    }
    footer{
        width: 1100px;
        margin: 0 auto;
        text-align: center;
    }
    div.partnersLogo  {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    }

}



